<!DOCTYPE html>
<html>
<head>
  <link href="vendor/Semantic-UI/semantic.min.css" rel="stylesheet">
  <script src="vendor/jquery.js"></script>
  <script src="vendor/Semantic-UI/semantic.min.js"></script>
  <script src="vendor/vue.js"></script>
  <style>
    .ui.button.checkbox label::before,
    .ui.button.checkbox label::after{
      display: none;
    }
    .ui.button.checkbox input{
      width: 100%;
      height: 100%;
    }
    .ui.button.checkbox label{
      padding-left: 0;
    }
    .ui.grid .tight.column{
      padding: 1rem 0.5rem;
    }
    .hidden {
      display: none !important;
    }
  </style>
</head>
<body>
  <div id="app">
    <template v-if="closets">
    <form class="ui form">
      <div class="ui padded grid" v-bind:class="closetParams.floor ? 'four column' : 'three column'">
        <div class="centered column row">
          <h1 class="ui dividing header">Build Closet</h1>
        </div>

        <div class="row">
          <div class="column">
            <div class="fluid field">
              <label>Total Width</label>
              <input placeholder="Width"
                      v-model="closetParams.width">
            </div>
          </div>

          <div class="center aligned column">
            <div class="field">
              <label>Placement</label>
              <div class="ui fluid mini buttons">
                <template v-for="placement in placements">
                    <div class="ui button checkbox" v-bind:class="{ 'active': closetParams.placement == placement.value }">
                      <input type="radio" v-bind:value="placement.value" v-model="closetParams.placement">
                      <label>{{ placement.text }}</label>
                    </div>
                </template>
              </div>
            </div>
          </div>

          <div class="center aligned column" v-bind:class="closetParams.floor ? '' : 'hidden'">
            <div class="fluid field">
              <label>Floor Height</label>
              <input placeholder="Height"
                      v-model="closetParams.height">
            </div>
          </div>

          <div class="right aligned column">
            <div class="field">
              <label>Floor Mount</label>
              <div class="ui toggle checkbox" style="margin-top: 0.5em;">
                <input type="checkbox" v-model="closetParams.floor">
                <label></label>
              </div>
            </div>
          </div>
        </div>

        <div class="ui vertical segment middle aligned row">
          <div class="seven wide column">
            <span class="ui large header">Sections</span>
            <span class="ui medium icon right floated positive button" v-on:click="addSection">
              <i class="plus icon"></i>Add
            </span>
          </div>
        </div>

        <template v-for="(closet, index) in closets">
          <div class="ui vertical secondary segment row">
            <div class="column" v-bind:class="closets.length < 2 ? 'sixteen wide' : 'fifteen wide'">
              <div class="ui fluid buttons">
              <template v-for="type in types">
                  <div class="ui button checkbox" v-bind:class="{ 'active': closet.type == type.value }">
                    <input type="radio" v-bind:value="type.value" v-model="closet.type">
                    <label>{{ type.value }}</label>
                  </div>
              </template>
              </div>
            </div>
            <div class="one wide middle aligned right floated column" v-bind:class="{hidden: closets.length < 2}">
              <div class="ui mini icon right floated negative button" v-on:click="removeSection(index)">
                <i class="minus icon"></i>
              </div>
            </div>
            <div class="sixteen wide center aligned column">
              <div class="ui padded" v-bind:class="[
                closet.type ?
                  ((closet.type == 'LH' || closet.type == 'DH')
                  ? 'two column grid'
                  : ((closet.type == 'Shelves' && closetParams.floor)
                    ? 'three column grid'
                    : ((closet.type == 'Shelves' || (closet.type == 'Drawers' && closetParams.floor))
                      ? 'four column grid'
                      : 'five column grid')))
                  : 'hidden' ]">
                <div class="tight column" data-tooltip="Defaults to split evenly">
                  <input v-model="closet.size" placeholder="Width">
                </div>
                <div class="tight column"
                    v-bind:data-tooltip='"Defaults to " + ((closet.type=="LH" || closet.type=="DH") ? 12 : 14)
                        + (closetParams.floor ? "3/4" : "") + "\""'>
                  <input v-model="closet.depth" placeholder="Depth">
                </div>
                <div class="tight column" v-bind:data-tooltip='"Defaults to " + (closetParams.floor ? 84 : 76) + "\""'
                      v-bind:class="[ (closet.type == 'LH' || closet.type == 'DH' || closetParams.floor) ? 'hidden' : '' ]">
                  <input v-model="closet.height" placeholder="Height">
                </div>
                <div class="tight column" data-tooltip="Defaults to 5"
                      v-bind:class="[ (closet.type != 'Drawers' && closet.type != 'Shelves') ? 'hidden' : '' ]">
                  <input v-model="closet.shelves" placeholder="Shelves">
                </div>
                <div class="tight column" data-tooltip="Defaults to 4"
                      v-bind:class="[ (closet.type != 'Drawers') ? 'hidden' : '' ]">
                  <input v-model="closet.drawers" placeholder="Drawers">
                </div>
              </div>
            </div>
          </div>
        </template>
      </div> <!-- grid -->

      <div style="padding: 1em;">
        <div class="ui primary button" v-on:click="build">Build</div>
        <div class="ui button" v-on:click="cancel">Cancel</div>
        <div class="ui negative button" v-on:click="unbuild" v-bind:class="{'hidden': !isBuilt}">Undo Build</div>

      </div>
    </form>
    </template>
    <template v-else>
      <h2>Error loading data</h2>
    </template>
  </div><!-- app -->
  <script>

    var app = new Vue({
      el: '#app',
      data: {
        closets: null,
        closetParams: null,
        types:  null,
        types:  null,
        isBuilt: false,
      },
      methods: {
        build: function() {
          this.isBuilt = true;
          sketchup.build(this.closets, this.closetParams);
        },
        unbuild: function() {
          sketchup.unbuild();
        },
        cancel: function() {
          sketchup.cancel();
        },
        addSection: function() {
          this.closets.push({type: '', size: '', depth: '', height: '', drawers: '', shelves: ''});
        },
        removeSection: function(i) {
          if(this.closets.length>1){
            this.closets.splice(i, 1);
          }
        },
      },
      mounted: function() {
        sketchup.ready();
      },
    });
    function updateWidth(update) {
      app.closetParams.width = update.width;
    };
    function updateCloset(closets, closetParams, types, placements) {
      app.closets       = closets;
      app.closetParams  = closetParams;
      app.types         = types;
      app.placements    = placements;
    };
  </script>
</body>
</html>
