<!DOCTYPE html>
<html>
<head>
  <link href="vendor/Semantic-UI/semantic.min.css" rel="stylesheet">
  <script src="vendor/jquery.js"></script>
  <script src="vendor/Semantic-UI/semantic.min.js"></script>
  <script src="vendor/vue.js"></script>
  <style>
    .main.container {
      padding: 2em 2em;
    }
    .hidden {
      display: none !important;
    }
    input[type="number"] {
      text-align: right;
    }
  </style>
</head>
<body>
  <div id="app">
    <template v-if="options">
      <div class="ui main container">
        <h1 class="ui header">
          <i class="cogs sign icon"></i>
          <div class="content">Settings</div>
        </h1>

        <div class="ui form">
          <table class="ui unstackable fixed striped celled table">
            <tbody>
              <tr v-for="(option, key) in options">
                <td>{{ option.title }}</td>
                <td>
                  <input type="hidden" v-model="key" />
                  <input v-model="option.value"/>
                </td>
              </tr>
            </tbody>
          </table>

          <div>
            <div class="ui primary button" v-on:click="save">Save</div>
            <div class="ui button" v-on:click="cancel">Cancel</div>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <h2>Error loading data</h2>
    </template>
  </div><!-- app -->
  <script>

    var app = new Vue({
      el: '#app',
      data: {
        options: null,
      },
      methods: {
        save: function() {
          sketchup.save(this.options);
        },
        cancel: function() {
          sketchup.cancel();
        },
      },
      mounted: function() {
        sketchup.ready();
      },
    });
    function updateData(options) {
      app.options = options;
      console.log(options)
    };
  </script>
</body>
</html>
